<h1>Bienvenue sur le blog des crêpes bretonnes !</h1>

{% for article in derniers_articles %}
<div class="article">
    <h3>{{ article.titre }}</h3>
    <p>{{ article.contenu|truncatewords_html:80 }}</p>
    <p><a href="{% url 'blog_lire' pk=article.id slug=article.slug %}">Lire la suite</a>
</div>
{% empty %}
<p>Aucun article.</p>
{% endfor %}

<h3>Catégories disponibles</h3>
<ul>
    {% for categorie in categories %}
    <li><a href="{% url "blog_categorie" categorie.id %}">{{ categorie.nom }}</a></li>
    {% endfor %}
</ul>

{% load blog_extras %}
Un jour, une certaine personne m'a dit : {{ "Bonjour le monde !"|citation }}
<p>
    {{ "Bonjour"|smart_truncate:14 }}<br />
    {{ "Bonjour tout le monde"|smart_truncate:15 }}<br />
    {{ "Bonjour tout le monde, c'est bientôt Noël"|smart_truncate:18 }}<br />
    {{ "To be or not to be, that's the question"|smart_truncate }}<br />
</p>