<h1>Bienvenue sur le blog des crêpes bretonnes !</h1>

{% for article in derniers_articles %}
<div class="article">
    <h3>{{ article.titre }}</h3>
    <p>{{ article.contenu|truncatewords_html:80 }}</p>
    <p><a href="{% url 'lire' id=article.id slug=article.slug %}">Lire la suite</a>
</div>
{% empty %}
<p>Aucun article.</p>
{% endfor %}

<h3>Catégories disponibles</h3>
<ul>
    {% for categorie in categories %}
    <li><a href="{% url "blog_categorie" categorie.id %}">{{ categorie.nom }}</a></li>
    {% endfor %}
</ul>